absl-py==0.8.1
adal==1.2.4
adlfs==0.2.0
adtk==0.4.0
alembic==1.4.2
altair==4.1.0
appdirs==1.4.3
APScheduler==3.6.3
arrow==0.14.4
asn1crypto==1.2.0
aspy.yaml==1.3.0
astor==0.8.1
astroid==2.3.3
astropy==4.0
atomicwrites==1.3.0
attrs==19.3.0
audioread==2.1.6
auto-ts==0.0.36
autopep8==1.4.4
azure-common==1.1.25
azure-datalake-store==0.0.48
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
backcall==0.1.0
base58==2.0.1
binaryornot==0.4.4
black==19.3b0
bleach==3.1.0
blinker==1.4
bokeh==1.4.0
boto3==1.10.39
botocore==1.13.39
Brotli==1.0.9
cachetools==4.2.0
certifi==2020.6.20
cffi==1.13.2
cfgv==2.0.1
chardet==3.0.4
chart-studio==1.0.0
click==7.1.2
cliff==3.3.0
cloudpickle==1.2.2
cmaes==0.5.1
cmd2==1.1.0
codecarbon==1.0.0
codecov==2.0.15
colorama==0.4.3
colorlog==4.1.0
confuse==1.0.0
convertdate==2.1.3
cookiecutter==1.6.0
coverage==4.5.4
cryptography==2.8
cvxpy==1.1.1
cycler==0.10.0
Cython==0.29.14
cytoolz==0.10.1
dash==1.17.0
dash-bootstrap-components==0.10.7
dash-core-components==1.13.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
dask==2021.3.0
dask-glm==0.2.0
dask-ml==1.5.0
dataclasses==0.6
date-tools==0.0.3
DateTools==1.1
decorator==4.4.1
defusedxml==0.6.0
distributed==2.4.0
docutils==0.15.2
dython==0.4.4
ecos==2.0.7.post1
eli5==0.10.1
entrypoints==0.3
ephem==3.7.7.0
et-xmlfile==1.0.1
fastparquet==0.3.2
fbprophet==0.5
feather-format==0.4.0
featuretools==0.13.1
finta==0.3.9
fire==0.3.1
Flask==1.1.1
Flask-Compress==1.8.0
flask-marshmallow==0.9.0
Flask-Migrate==2.3.0
Flask-SQLAlchemy==2.1
fsspec==0.6.2
future==0.17.1
gast==0.3.3
gcsfs==0.2.3
gitdb==4.0.5
GitPython==3.1.11
google-auth==1.6.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
graphviz==0.13.2
grpcio==1.26.0
gzip-reader==0.1
h5py==2.10.0
HeapDict==1.0.1
holidays==0.9.11
htmlmin==0.1.12
identify==1.4.7
idna==2.8
imageio==2.6.1
importlib-metadata==1.3.0
importlib-resources==1.0.2
ipykernel==5.1.3
ipython==7.10.2
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.3
jinja2-time==0.2.0
jmespath==0.9.4
joblib==0.14.1
json5==0.8.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.1
jupyter-tensorboard==0.1.10
jupyterlab==1.1.4
jupyterlab-server==1.0.6
Keras==2.3.1
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing==1.1.0
keras-swa==0.1.5
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
librosa==0.6.3
lightgbm==2.3.1
lime==0.1.1.36
llvmlite==0.32.1
locket==0.2.0
lofo-importance==0.2.6
lunardate==0.2.0
lxml==4.4.2
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==2.13.6
matplotlib==3.2.1
matrixprofile-ts==0.0.9
mccabe==0.6.1
memory-profiler==0.55.0
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mlfinlab==0.12.3
mlxtend==0.17.2
mock==3.0.5
more-itertools==8.0.2
msgpack==0.6.1
multipledispatch==0.6.0
mxnet==1.4.1
nbconvert==5.6.1
nbformat==4.4.0
nbval==0.9.2
networkx==2.4
nodeenv==1.3.3
notebook==6.0.2
ntlm-auth==1.5.0
numba==0.49.1
numerapi==2.3.4
numexpr==2.7.0
numpy==1.18.5
oauthlib==3.1.0
Office365-REST-Python-Client==2.1.5
olefile==0.46
openpyxl==3.0.7
opt-einsum==3.1.0
optuna==1.5.0
osqp==0.6.1
packaging==19.2
pandas==1.0.4
pandas-profiling==2.4.0
pandocfilters==1.4.2
parso==0.5.2
partd==1.1.0
patsy==0.5.1
pbr==5.4.5
pdoc3==0.7.0
pep8==1.7.1
phik==0.9.10
pickleshare==0.7.5
Pillow==8.0.1
pkginfo==1.5.0.1
plotly==4.4.1
plotly-geo==1.0.0
pluggy==0.13.0
pmdarima==1.5.2
poyo==0.5.0
ppscore==0.0.2
pre-commit==1.18.3
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.17.3
psutil==5.6.7
py==1.8.1
pyaml==20.4.0
pyarrow==0.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pycparser==2.19
pydantic==0.28
pydeck==0.5.0
pydot==1.4.1
pydotplus==2.0.2
Pygments==2.5.2
PyInquirer==1.0.3
PyJWT==1.7.1
pylint==2.4.4
pynvml==8.0.4
pyodbc==4.0.26
pyOpenSSL==19.1.0
pyparsing==2.4.5
pyperclip==1.8.0
pyreadline==2.1
pyrsistent==0.15.6
PySocks==1.7.1
pystan==2.19.0.0
pyswarm==0.6
pyswarms==1.1.0
pytest==5.4.1
pytest-cov==2.7.1
pytest-pylint==0.14.1
pytest-runner==5.2
python-crfsuite==0.9.6
python-dateutil==2.8.0
python-decouple==3.1
python-dotenv==0.10.3
python-editor==1.0.4
python-snappy==0.5.4
pytz==2019.3
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.2
pyzmq==18.1.0
qtconsole==4.6.0
quilt==2.9.15
readme-renderer==24.0
regex==2019.12.20
requests==2.24.0
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
resampy==0.2.1
retrying==1.3.3
rsa==3.4.2
ruptures==1.0.1
s3fs==0.3.4
s3transfer==0.2.1
scikit-image==0.15.0
scikit-learn==0.24.2
scikit-optimize==0.7.4
scipy==1.4.1
scs==2.1.2
seaborn==0.9.0
Send2Trash==1.5.0
setuptools-git==1.2
shap==0.35.0
singledispatch==3.4.0.3
six==1.13.0
sklearn==0.0
sklearn-json==0.1.0
smmap==3.0.4
snakeviz==2.0.1
sortedcontainers==2.1.0
SQLAlchemy==1.2.13
statsmodels==0.11.1
stevedore==2.0.1
streamlit==0.84.0
stumpy==1.1.0
tables==3.5.2
tabulate==0.8.3
tblib==1.6.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.0.0
tensorflow-addons==0.10.0
tensorflow-estimator==2.0.0
tensorflow-estimator-2.0-preview==2.0.0
tensorflow-hub==0.5.0
tensorflowjs==1.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tfa-nightly==0.11.0.dev20200601015706
threadpoolctl==2.1.0
thrift==0.11.0
times==0.7
toml==0.10.0
toolz==0.10.0
tornado==6.0.3
tqdm==4.41.1
traitlets==4.3.3
tscv==0.1.2
tsfresh==0.15.1
twilio==6.56.0
twine==2.0.0
typed-ast==1.4.1
typeguard==2.7.1
tzlocal==2.1
urllib3==1.25.7
validators==0.18.2
virtualenv==16.7.5
watchdog==1.0.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
whichcraft==0.6.0
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
xgboost==1.4.0
xlrd==1.2.0
xverse @ git+https://github.com/Sundar0989/XuniVerse@ef95ec6ca584ce1a559be7861f70716fd3a79d53
yellowbrick==1.3.post1
zict==1.0.0
zipp==0.6.0
